<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="nav-spacer"></span>
  <span class="mat-button-wrapper"></span>
  <span class="nav-item">
    <a class="mat-button" href={{helpLink}} target="_blank">
      <button mat-button>
        <mat-icon class="nav-icon" aria-hidden="true">help</mat-icon>{{ help }}
      </button>
    </a>
  </span>
  <span>
    <a class="mat-button" href={{changesLink}} target="_blank">
      <button mat-button>
        <mat-icon class="nav-icon" aria-hidden="true">history</mat-icon>{{ changes }}
      </button>
    </a>
  </span>
</mat-toolbar>

<div class="content">
  <app-form></app-form>
</div>
